name: CD GitOps

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Atualizado para v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # O 'repository' agora entra aqui junto com a tag
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/gitops:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/gitops:latest
      
      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: '4.5.7'

      - name: Update Kustomization with new image tag
        run: |
          cd k8s 
          kustomize edit set image goserver-gitops=${{ secrets.DOCKERHUB_USERNAME }}/gitops:${{ github.sha }}

      - name: Commit
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/kustomization.yaml
          git commit -m "Update kustomization.yaml with new image tag: ${GITHUB_SHA}"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main